DB_HOST=your_db_host
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_NAME=your_db_name
DB_PORT=5432

JWT_SECRET=your_jwt_secret
WEATHER_KEY=your_openweather_api_key
AQI_TOKEN=your_aqi_token
EMAIL_USER=your_gmail
EMAIL_PASS=your_gmail_app_password
CO2_DAILY_LIMIT=8